{% import '@SyliusAdminUi/macro/headers.html.twig' as headers %}
{% import '@SyliusSemanticUi/macro/breadcrumb.html.twig' as breadcrumb %}

{% set breadcrumbs = [
    { label: 'sylius.ui.administration'|trans, url: '/admin' },
    { label: (metadata.applicationName~'.ui.'~metadata.pluralName)|trans, url: path(configuration.getRouteName('index'), configuration.vars.route.parameters|default({})) },
    { label: header }
]
%}

<div id="header" class="ui stackable two column grid">
    <div class="column">
        {{ headers.default(header|trans, configuration.vars.icon|default('plus'), configuration.vars.subheader|default(null)|trans) }}

        {{ breadcrumb.crumble(breadcrumbs) }}
    </div>
    <div class="middle aligned column">
        <div class="ui right floated buttons">
            <a id="edit-product" class="ui labeled icon button" href="{{ path('app_admin_book_update', { 'id': resource.id }) }}">
                <i class="edit icon"></i>
                Edit
            </a>
        </div>
    </div>
</div>
